<div
  id="app"
  data-prototypes-enabled={to_string(Application.get_env(:petitionu, :dev_routes, false))}
>
</div>
<script defer phx-track-static type="text/javascript" src={~p"/assets/js/index.js"}>
</script>
